In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import os
import pandas as pd

Mounted at /content/drive

In [ ]:
os.listdir('./drive/MyDrive/machine_learning_data')

['test.csv',
 'train.csv',
 'friend.csv',
 'new_friend.csv',
 'new_friend_index_true.csv',
 'abalone.data',
 'train_data.csv',
 'Naver_opinion.txt',
 'dolphine.jpg',
 'NanumBarunGothic.ttf',
 'wc_result.png',
 'wc_result1.png',
 'test_csv.txt',
 'crawlings__210510.log',
 '.ipynb_checkpoints']

In [ ]:
# 데이터 폴더 src 변수 할당
base_src = './drive/MyDrive/machine_learning_data'

#friend.csv 파일 src 변수 할당
#파일의 위치
friend_src = base_src + '/friend.csv'

In [ ]:
# pandas의 read_csv -> 데이터 불러오기
df = pd.read_csv(friend_src, encoding='utf-8')

# head() 데이터를 읽어보기 => 5개만 읽어오기 (default가 5로 되어있는데, 숫자 변경 가능)
df.head()

#파일을 저장할 새로운 파일 경로 지정
new_friend_src = base_src + 'new_friend.csv'

#df를 new_friend_src 주소로 csv형태로 저장함.
#index=False는 필수
df.to_csv(new_friend_src, index=False, encoding='utf-8')

In [ ]:
# Series
import os
import pandas as pd

#pd의 Series는 인덱스를 가지고 있음
print(pd.Series([1,2,3]))
print('---------------------')
#데이터 프레임의 형식과 시리즈 형식이 유사함
print(df['name'])

0    1
1    2
2    3
dtype: int64
---------------------
0     John
1    Jenny
2     Nate
3    Julia
4    Brian
5    Chris
Name: name, dtype: object

In [ ]:
#pd.Series의 index 지정가능
#dtype 지정 가능
series = pd.Series([1,2,3,2],index=['a','b','c','d'],dtype=float)
print(series)

print('---------------------')

series = pd.Series([10,2,10,4],index=['a','b','c','d'],dtype=float)
#값에 따라 정렬, 내림차순도 가능
#본체 값을 변경해주지 않으므로 따로 저장 해야함 
#(파이썬의 list.sort()는 본체도 변경함) (sorted(list)는 본체 변경하지 않음)
series = series.sort_values(ascending=True)
print(series)

a    1.0
b    2.0
c    3.0
d    2.0
dtype: float64
---------------------
b     2.0
d     4.0
a    10.0
c    10.0
dtype: float64

In [ ]:
#DataFrame

#이중 리스트로 데이터 프레임을 구성할 경우, 인자 값으로 row와 column명을 지정할 수 있음
#딕셔너리와 다르게 데이터가 옆으로 쌓임
df = pd.DataFrame([[2,3],[5,10]],index=['4','5'],columns=['a','b'])
print(df)
print('-----------------------')
#딕셔너리 안에 리스트를 포함한 형태로 구성할 경우, 키 값이 컬럼이 됨
#이중리스트와 다르게 데이터가 밑으로 쌓임
#row columns 인자 지정도 가능
df = pd.DataFrame({'a':[2,3],'b':[5,10]},dtype='float')
print(df)
df.index=[4,2]
print('-----------------------')
print(df)

   a   b
4  2   3
5  5  10
-----------------------
     a     b
0  2.0   5.0
1  3.0  10.0
-----------------------
     a     b
4  2.0   5.0
2  3.0  10.0

In [ ]:
#DataFrame 행, 열, 선택 및 필터링
df = pd.read_csv(friend_src,encoding='utf-8')

#data frame형태로 출력됨
print(df)
print('--------df.iloc[2]--------')
#index 2번에 해당하는 row 가져오기
#리스트와 다르게, [][]으로 행열을 구분하지 않고 [,]로 인덱스와 열을 구분함

#iloc은 숫자를 통해, 즉 순서를 통해 가져올 수 있음
#한 줄만 가져오면 series가 됨
print(df.iloc[2])
print('--------df.iloc[[2]]-------')
#인덱싱을 2중으로 하면
#한 줄만 가져올지라도 dataframe형태로 가져올 수 있음
print(df.iloc[[2]])
print('--------------------------')
print(df.iloc[1,2])
print('--------------------------')
#한줄이기 떄문에 데이터프레임 형식 -> Series 형식
print(df.iloc[:,2])

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern
--------df.iloc[2]--------
name       Nate
age          30
job     teacher
Name: 2, dtype: object
--------df.iloc[[2]]-------
   name  age      job
2  Nate   30  teacher
--------------------------
developer
--------------------------
0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [ ]:
#iloc, loc 차이
df.index=[6,5,4,3,2,1]
print(df)
print('-------iloc[2]: 2번째 row검색------')
#iloc : 2번째 인덱스에 해당하는 값을 가져옴
print(df.iloc[2]) 
print('-------iloc[[2,3]]: 2,3번째 row검색------')
#iloc : 2,3번째 인덱스에 해당하는 값을 가져옴
print(df.iloc[[2,3]]) # ==df.iloc[2:4]
print('-------loc[2]: 값이 2인 row 검색-------')
#loc : 인덱스 번호가 2인 값을 가져옴
print(df.loc[2])
print('------df["job"]-----')
#column 값이 'job'인 '열'을 가져옴
#loc와 []는 기본적으로 값이 일치하는 것을 가져오지만,
#loc는 인덱스 검색후 행을, []는 컬럼 검색후 열을 가져옴
print(df['job'])
print('-------df.loc[1,"job"]--------')
#index도 지정 가능
print(df.loc[1,'job'])

    name  age        job
6   John   20    student
5  Jenny   30  developer
4   Nate   30    teacher
3  Julia   40    dentist
2  Brian   45    manager
1  Chris   25     intern
-------iloc[2]: 2번째 row검색------
name       Nate
age          30
job     teacher
Name: 4, dtype: object
-------iloc[[2,3]]: 2,3번째 row검색------
    name  age      job
4   Nate   30  teacher
3  Julia   40  dentist
-------loc[2]: 값이 2인 row 검색-------
name      Brian
age          45
job     manager
Name: 2, dtype: object
------df["job"]-----
6      student
5    developer
4      teacher
3      dentist
2      manager
1       intern
Name: job, dtype: object
-------df.loc[1,"job"]--------
intern

In [ ]:
#조건 필터링
print(df.head())
print('-'*30)

#df['age']>=30이면 True가 됨
#따라서 True인 데이터만 가져오게 됨
#F T T T T T가 되므로, 맨 처음 데이터 빼고 다 가져옴
print(df[df['age']>=30])
print('-'*30)

#job이 intern일 경우면 T이므로
print(df[df['job']=='intern'])
print('-'*30)

#조건이 여러개이면 ()안에 조건을 넣어야하고
#and -> &  or -> |
print(df[(df['age']>=30) & (df['age']<=40)])
print(df[(df['age']<30) | (df['age']>40)])
print('-'*30)

#df['job']은 리스트 형태가 아니고 시리즈 형태이므로
#1 in [2,13,2] 와 같은 방법을 통해 true, false를 가져올 수 없음
#따라서 apply를 통해 함수를 적용하고, true, false를 가져옴
print(df[df['job'].apply(lambda x: x in ['student','manager'])])

    name  age        job
6   John   20    student
5  Jenny   30  developer
4   Nate   30    teacher
3  Julia   40    dentist
2  Brian   45    manager
------------------------------
    name  age        job
5  Jenny   30  developer
4   Nate   30    teacher
3  Julia   40    dentist
2  Brian   45    manager
------------------------------
    name  age     job
1  Chris   25  intern
------------------------------
    name  age        job
5  Jenny   30  developer
4   Nate   30    teacher
3  Julia   40    dentist
    name  age      job
6   John   20  student
2  Brian   45  manager
1  Chris   25   intern
------------------------------
    name  age      job
6   John   20  student
2  Brian   45  manager

In [ ]:
import numpy as np
#reshape -> 파이토치의 veiw와 비슷함
df = pd.DataFrame(np.arange(12).reshape(-1,4),
                  columns=['A','B','C','D'])
print(df)
print('-----------------------------')

#axis 0: 가로방향, axis=1: 세로 방향
#본체를 바꾸지는 않음(inplace=True로 변경 가능)
#drop은 검색처럼 loc,[] 중 []만 사용이 가능하므로 
#axis=0, =1을 통해 인덱스와 열에 접근
df.index=[1,2,3]
df.drop(['B','C'],axis=1, inplace=True)
print(df)
print('-----------------------------')

#drop은 .loc[]과 동일하게, '값'자체를 비교하여 삭제함
#default axis는 0이므로, 1과2의 값을 가지는 인덱스를 삭제함
print(df.drop([1,2]))

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11
-----------------------------
   A   D
1  0   3
2  4   7
3  8  11
-----------------------------
   A   D
3  8  11

In [ ]:
#DataFrame 값 수정
#원본 보존을 원하면 temp=df.copy()
df = pd.DataFrame(np.arange(12).reshape(-1,4),columns=['A','B','C','D'])
df.index=[1,2,3]
df.loc[1,'A'] = '욱'
df.iloc[2,3] = 'A'
print(df)
print('-----------------')
#인덱스에 'B'인 값이 없으므로 새로 생성
df.loc['B'] = 'K'
print(df)
print('-----------------')
#인덱스 값이 3인 행을 O로 변경함
df.loc[3]='O'
#인덱스 순서가 2인 행 중 2~3번째 열을 ㅜ로 변경함
df.iloc[2,2:4] = 'ㅜ'
print(df)

   A  B   C  D
1  욱  1   2  3
2  4  5   6  7
3  8  9  10  A
-----------------
   A  B   C  D
1  욱  1   2  3
2  4  5   6  7
3  8  9  10  A
B  K  K   K  K
-----------------
   A  B  C  D
1  욱  1  2  3
2  4  5  6  7
3  O  O  ㅜ  ㅜ
B  K  K  K  K